{% extends "pong/base.html" %}
{% block title %}Tournament Details{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pong/css/pong.css' %}">
    <section class="section_enter">
        <div>
            <h2>{{ tournament.name }}</h2>
            <p>Max Players: {{ tournament.max_players }}</p>
            <p>
                Status:
                {% if tournament.is_active %}
                    Active
                {% else %}
                    Completed
                {% endif %}
            </p>
            <h3>Participants</h3>
            <ul>
                {% for participant in participants %}
                    <li>
                        {{ participant.player.username }}
                        {% if participant.is_eliminated %}(Eliminated){% endif %}
                    </li>
                {% endfor %}
            </ul>
            <h3>Matches</h3>
            <ul>
                {% for match in matches %}
                    <li>
                        Match {{ match.id }}: {{ match.player1.username }} vs {{ match.player2.username }}
                        {% if match.finished %}
                            - Winner: {{ match.winner.username }}
                        {% else %}
                            - <a href="{% url 'pong:pongroom' match.room.id %}">Join Match</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if tournament.is_active %}
                <p>The tournament is ongoing.</p>
            {% else %}
                <p>The tournament has concluded.</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}
