{% extends "pong/base.html" %}
{% block title %}Tournament Details{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pong/css/pong.css' %}">
    <section class="section_enter">
        <h2>{{ tournament.id }}</h2>
        <h2>{{ tournament.name }}</h2>
        <section class="section_tournament"
                 id="game-data"
                 data-tournament-id="{{ tournament.id }}"
                 data-game-mode="tournament">
            <div>
                <p>
                    Max Players: <span id="maxPlayersValue">{{ tournament.max_players }}</span>
                </p>
                <p>Participants:</p>
                <ul id="participantsList">
                </ul>
                <p>Matches:</p>
                <ul id="matchesList">
                </ul>
                <h3 id="tournamentMessages"></h3>
                <h4 id="tournamentErrorMsg"></h4>
            </div>
        </section>
        <button id="joinTournament">Join Tournament</button>
    </section>
    <script type="module" src="{% static 'pong/js/handle-tournament.js' %}"></script>
{% endblock content %}
