@import url("https://fonts.cdnfonts.com/css/arcade");
/* font-family: "Arcade Rounded", sans-serif; */

@import url('https://fonts.cdnfonts.com/css/lt-galaxy-reverse');
/* font-family: 'LT Galaxy Reverse', sans-serif; */

:root {
    --cor-1: #ffffff;
    --cor-2: #c0c0c0;
    --cor-3: #157a8c;
    --cor-4: #003f69;
    --cor-5: #260d33;
    --cor-6: #e0e0e0;

    --regular: 400;
    --bold: 700;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-2);
    font-family: "Arcade Rounded", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.menu {
    padding: 8px 24px;
    color: var(--cor-1);
    background-color: var(--cor-4);
}

.menu-logo {
    font-size: 20px;
    text-shadow: 2px 2px 4px #fff;
}

.nav-link:hover {
    text-shadow:
        -0.3px -0.3px 0.1em #fff,
        0.3px -0.3px 0.1em #fff,
        -0.3px 0.3px 0.1em #fff,
        0.3px 0.3px 0.1em #fff;
}

.menu-profile-img {
    width: 50px;
    height: 50px;
    background-color: var(--cor-5);
}

.menu-profile-username {
    text-decoration: none;
    font-size: 12px;
    color: var(--cor-1);
}

.menu-profile-username:hover {
    text-shadow:
        -0.3px -0.3px 0.1em #fff,
        0.3px -0.3px 0.1em #fff,
        -0.3px 0.3px 0.1em #fff,
        0.3px 0.3px 0.1em #fff;
}

.menu-profile-logout {
    color: var(--cor-1);
    cursor: pointer;
    border-color: transparent !important;
}

.menu-profile-logout:hover {
    color: var(--cor-5);
}

.rodape {
    padding: 16px 24px;
    background-color: var(--cor-3);
}

.rodape-link {
    text-decoration: none;
    font-size: 12px;
    color: var(--cor-1);
}

.rodape-link:hover {
    color: var(--cor-4);
}

.app-container {
    background-color: var(--cor-6);
    min-height: calc(100vh - 182px);
    display: flex;
}

/* profile page */
.profile-img {
    background-color: var(--cor-5);
    width: 160px;
    height: 160px;
}

.profile-div,
.history {
    background-color: var(--cor-2);
}

.title {
    background-color: var(--cor-4);
    color: var(--cor-1);
}

.profile-discription,
.history-discription {
    font-family: 'LT Galaxy Reverse', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

/* chat page */
.col-friends {
    background-color: var(--cor-2); 
}

.search {
    background-color: var(--cor-1); 
}

.form-control {
    font-family: 'LT Galaxy Reverse', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.friend {
    font-family: 'LT Galaxy Reverse', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.friend-img {
    width: 20px;
    height: 20px;
    background-color: var(--cor-5);
}

.friend-name:hover {
    font-weight: 900;
    color: var(--cor-4);
    cursor: pointer;
}

.col-chat{
    background-color: var(--cor-2);
}

.messages {
    font-family: 'LT Galaxy Reverse', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.chat-msg-user-time {
    font-size: 11px;
    font-weight: 700;
    color: var(--cor-1);
    margin: 0;
    text-align: end;
}

.chat-msg-content {
    color: var(--cor-5);
    margin-bottom: 4px;
    text-align: end;
}

.message-input {
    background-color: var(--cor-1); 
    font-size: 13px;
}

.btn-send {
    font-family: 'LT Galaxy Reverse', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: var(--cor-4);
}

.btn-send:hover {
    font-weight: 700;
    color: var(--cor-3);
}

@media (min-width: 574px) {
    .app-container {
        min-height: calc(100vh - 126px);
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .menu-logo {
        font-size: 25px;
    }

    .menu-profile-img {
        width: 60px;
        height: 60px;
    }

    .menu-profile-username {
        font-size: 14px;
    }

    .rodape-link {
        font-size: 14px;
    }

    .app-container {
        min-height: calc(100vh - 144px);
    }

    .profile-discription,
    .history-discription {
        font-size: 18px;
    }

    .friend {
        font-family: 'LT Galaxy Reverse', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1.5px;
    }
    
    .friend-img {
        width: 26px;
        height: 26px;
        background-color: var(--cor-5);
    }

    .messages {
        font-family: 'LT Galaxy Reverse', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1.5px;
    }
    
    .chat-msg-user-time {
        font-size: 12px;
        font-weight: 700;
        color: var(--cor-1);
        margin: 0;
        text-align: end;
    }
    
    .chat-msg-content {
        color: var(--cor-5);
        margin-bottom: 4px;
        text-align: end;
    }

    .message-input {
        background-color: var(--cor-1); 
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .profile-image {
        width: 200px;
        height: 200px;
    }
}


/*chat*/

/* Friends List section */

/* .friends-list h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-4); 
    padding: 10px 25px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--cor-1);
    font-size: var(--h2-size);
    margin: 0;
}

.img-refresh {
    width: 15px;
    height: 15px;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--cor-6); 
    border-radius: var(--border-radius);
    margin: 10px;
}

.search-icon {
    height: 50%;
    margin: 0 10px;
}

.friends-list .search input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--cor-6);
}

.friends-list .search .search-icon {
    margin-left: 10px;
    cursor: pointer;
}

.friends-list .status-group {
    font-size: 40%;
    color: var(--cor-6);
}

.status-group span {
    margin: 0 10px;
}

.friends-list .friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 0px 10px;
    border-radius: var(--border-radius);
    margin: 10px;
    font-size: 1.1rem;
    color: #000;
    gap: 10px;
}

.friends-list .friend .status-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
    position: fixed;
}

.friends-list .friend.online .status-icon {
    background-color: #33a733; 
}

.friends-list .friend.offline .status-icon {
    background-color: #aa0909; 
}

.friends-list .friend .status-icon {
    width: 5px;
    height: 5px;
}

.friends-list .info-icon {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.friend p {
    font-size: 50%;
    margin: 5px 10px;
} 
    
.chat-window {
    background-color: var(--cor-2);
    padding: 0;
    border-radius: var(--border-radius);
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-window h2 {
    background-color: var(--cor-4);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--cor-1);
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: var(--h2-size);
    margin: 0;
}

.chat-window .messages {
    background-color: var(--cor-2);
    font-size: 50%;
    padding: 2% 5%;
    text-align: right;
}

.chat-msg-user-time {
    font-size: 70%;
    color: var(--cor-1);
}

.chat-msg-content {
    font-size: 80%;
    color: var(--cor-5);
}

.chat-window .message-input {
    display: flex;
    align-items: center;
    background-color: var(--cor-6); 
    border-radius: 20px;
    gap: 5px;
    margin: 10px 5px 7px 5px;
}

.chat-window .message-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--cor-6);
}

.message-button {
    cursor: pointer;
    padding: 5px;
}
*/

