<div class="col col-10 col-sm-9 col-md-8 col-lg-6 col-xl-5 mx-auto">
    <form action="{% url 'db-user_management:change_password' %}"
    formType="profileForm"
    method="post"
    class="form-style rounded-4 shadow"
    api-link>
        {% csrf_token %}
        <p class="form-title text-center rounded-top-4 py-2 py-md-3 m-0">Change your<br>password!</p>
        <div class="py-3 py-md-4 px-4 px-md-5">
            {% for field in form %}
            <div class="mb-2 text-center">
                {{ field.label_tag }}
                {{ field }}
            {% if field.errors %}<small>{{ field.errors|striptags }}</small>{% endif %}
            </div>
            {% endfor %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert text-danger text-center p-0 mb-2 {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <div class="text-center">
                <button class="btn btn-custom mt-1" type="submit" value="change password">
                    <p class="btn-custom-name m-0">change password</p>
                </button>
            </div>
        </div>
    </form>
</div>
