<form method="post" id="loginForm">
    {% csrf_token %}
    <h2>Log in to your account</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}<small>{{ field.errors|striptags }}</small>{% endif %}
    {% endfor %}
    <input type="submit" value="login">
</form>