<section class="profile">
    <img class="profile-image" src="" alt="imagem do perfil">
    <div class="profile-div">
        <h2 class="profile-title">{{ user.username }}</h2>
        <div class="profile-p">
            <p>{{ user.first_name }}</p>
            <p>Online on: </p>
            <p>Games played: </p>
            <p>Total wins: </p>
        </div>
    </div>
</section>
<section class="history">
    <h2 class="history-title">Game history</h2>
    <p>You haven't played any games yet.</p>
    <p>You haven't played any games yet.</p>
</section>