{% extends 'user_management/base_app.html' %}
{% load static %}
{% block content %}
    <div class="row app-row justify-content-center gap-4 gap-md-5 gap-lg-5 px-3 px-md-4 px-lg-5">
        <div class="col-profile col col-12 col-md-4 col-lg-3 col-xl-2 p-0 d-flex flex-row flex-md-column align-items-center justify-content-center gap-4">
            <img class="profile-img rounded-circle border-0" src="{{ profile_picture }}">
            <div class="col col-5 col-md-12 p-0">
                <div class="profile-div shadow-sm rounded-4">
                    <p class="title rounded-top-4 text-center m-0 p-2 text-nowrap">{{ user.username }}</p>
                    <div class="p-3 px-lg-4">
                        <div class="profile-box d-flex flex-column gap-1">
                            <p class="text-profile m-0 text-nowrap">{{ user.first_name }}</p>
                            <a class="text-profile option m-0 cursor-pointer text-decoration-none text-nowrap" href="/update_info/" data-link>Update info</a>
                            <a class="text-profile option m-0 cursor-pointer text-decoration-none text-nowrap" href="/change_password/" data-link>Change Password</a>
                            <form 
                            action="{% url 'user_management:logout' %}"
                            formType="logoutForm"
                            method="post"
                            class="d-inline" 
                            style="width:auto;"
                            api-link>
                                {% csrf_token %}
                                <button type="submit"class="text-profile option m-0 p-0 text-nowrap cursor-pointer fw-bold ">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-history col col-10 col-md-7 col-lg-7 col-xl-6 p-0 d-flex flex-column justify-content-center gap-4">
            <div class="history-info shadow-sm rounded-4">
                <p class="title rounded-top-4 text-center m-0 p-2 text-nowrap">Game information</p>
                <div class="p-3 px-lg-4">
                    <div class=" history-info-box d-flex flex-column gap-1">
                        <p class="text-profile m-0">Online on: {{ last_login }} </p>
                        <p class="text-profile m-0 text-nowrap">Matches (won/played): {{ user_game_stats.total_wins }} / {{ user_game_stats.total_matches }}</p>
                        <p class="text-profile m-0 text-nowrap">Tournaments (won/played): {{ user_game_stats.total_tournament_wins }} / {{ user_game_stats.total_tournaments }}</p>
                    </div>
                </div>
            </div>
            
            <div class="history shadow-sm rounded-4">
                <p class="title rounded-top-4 text-center m-0 p-2 text-nowrap">Game history</p>
                <div class="py-3 px-2">
                    <div class="history-box d-flex flex-column gap-1 align-items-center justify-content-center overflow-y-auto">
                        <a class="play-mode-btn rounded-4 col-11 col-sm-9 d-flex align-items-center justify-content-center text-decoration-none" href="/matchhistory/{{user.id}}/" data-link>
                            Match
                        </a>
                        <a class="play-mode-btn rounded-4 col-11 col-sm-9 d-flex align-items-center justify-content-center text-decoration-none" href="/tournamenthistory/{{user.id}}/" data-link>
                            Tournament
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
